* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor1: #E3E3E3;
    --primaryColor2: #C5D6EA;
    --primaryColor3: #537CA8;
    --primaryColor4: #D4E2EF;
    --primaryColor5: white;
    --textColor: black;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primaryColor3);
}

::-webkit-scrollbar-thumb {
    background: var(--primaryColor1);
    border-radius: 4px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}

.my-navbar-toggler {
    margin-top: 5px;
    margin-left: 15px;
    background-color: var(--primaryColor3);
}

.my-nav-link {
    color: var(--primaryColor5);
    font-size: 1.2rem;
}

.my-nav-link:hover {
    color: var(--primaryColor4);
}

.my-nav-link:focus {
    color: var(--primaryColor3);
}

.primaryBGC {
    background-color: var(--primaryColor3) !important;
}

.hero {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-image: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.opening-headline {
    font-size: 3.8rem;
    font-weight: bold;
    color: var(--primaryColor5);
}

.opening-text {
    font-size: 2.5rem;
    color: var(--primaryColor5);
}

.heading-highlight {
    color: var(--primaryColor3);
    background-color: var(--primaryColor1);
    border-radius: 10px;
    padding: 0 10px;
}

.text-highlight {
    color: var(--primaryColor1);

}

.myBtn {
    background-color: var(--primaryColor3);
    color: var(--primaryColor1);
}

.myBtn:hover {
    background-color: var(--primaryColor4);
    color: var(--primaryColor3);
}
.secondaryBtn {
    background-color: var(--primaryColor1);
    color: var(--primaryColor3);
}

.secondaryBtn:hover {
    background-color: var(--primaryColor3);
    color: var(--primaryColor1);
    border: 1px solid var(--primaryColor1);
}

.about {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor1);
}

.about-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.text {
    width: 50%;
}

.about-para {
    line-height: 1.5;
    letter-spacing: 1.2px;
    color: var(--primaryColor3);
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.about-img {
    width: 20vw;
    border-radius: 150px;
}

.gallery {
    width: 100vw;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor3);
}

.gallery-content {
    width: 85vw;
    height: 95vh;
    border-radius: 10px;
    background-color: var(--primaryColor4);
    overflow-y: scroll;
    scrollbar-width: thin;
}



.my-nav-tab {
    color: var(--primaryColor3);
    font-size: 1.2rem;
}

.my-nav-tab:Hover {
    color: var(--primaryColor5);
}

.active {
    background-color: var(--primaryColor4) !important;
    color: var(--primaryColor3) !important;
}

.tab-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card-container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
}

.card-button {
    width: 100%;
}

.contact {
    width: 100vw;
    height: 100vh;
    background-color: var(--primaryColor4);
}

.contact-content {
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;

}


.icon-container {
    width: 100%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    background-color: var(--primaryColor1);
    border-radius: 10px;
    padding: 10px;
}

.icon-img:Hover {
    padding: 4px;
}

.icon-img {
    width: 100%;
    transition: all .5s;
}

.form-content {
    flex-direction: column;
    background-color: var(--primaryColor3);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.my-textarea {
    resize: none;
    height: 100px !important;
}

.footer {
    width: 100vw;
    background-color: var(--primaryColor3);
    padding: 50px;
}

.footer-title {
    color: var(--primaryColor2);
}

.footer-links {
    width: 50vw;
}

.my-list-group-item {
    background-color: var(--primaryColor3);
    color: var(--primaryColor2);
    font-size: .8rem;
    border-bottom: none;
}

.fLink {
    color: var(--primaryColor4);
    padding-bottom: 3px;
}

.fLink:hover {
    color: var(--primaryColor5);
}

.footer-table {
    width: 50vw;
    align-items: center;
}

.col-container {
    padding: 15px;
}

.tHead {
    color: var(--primaryColor3);
}
#projectPreview{
    display: none;

}
/* projectPage CSS */
.my-container {
    height: 100vh;
    background-color: var(--primaryColor2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    /* width: 900px; */
    height: 400px;
    background-color: var(--primaryColor3);
    border-radius: 20px;
    box-shadow: 5px 5px 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.content-img {
    height: 100%;
}

.content-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.content-para {
    width: 80%;
}

#previewImage {
    height: 100%;
    border-radius: 0 10px 10px 0;
}


@media(max-width:1160px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-content {
        grid-template-columns: 1fr 2fr 1fr;
        width: 95vw;
    }
}

@media(max-width:1000px) {
    .contact-content {
        grid-template-columns: 1fr 4fr 1fr;
    }
     .content{
        flex-direction: column;
        height: auto;
    }  
    .content-img,.content-text{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    #previewImage{
        margin: 0 auto;
        width: 60%;
        border-radius: 10px;
    }
}

@media(max-width:750px) {
   
     .hero {
        height: 60vh;
    }
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact {
        height: auto;
    }

    .contact-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70vh 40vh;
        width: 90vw;
        height: auto;
    }

    .icon-container {
        width: 50%;
    }

    .section-top {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .section-left {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .section-right {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .icon {
        width: 80px;
        border-radius: 10px;
    }
    #previewImage{
        width: 80%;
    }
   
}

@media(max-width:650px) {
     .hero {
        padding: 5px;
        height: 70vh;
        background-position-x: left;
    }
    .opening-headline {
        font-size: 2rem;
    }

    .opening-text {
        font-size: 1.5rem;
    }

    .about {
        height: auto;
        padding: 30px;
    }

    .about-content {
        flex-direction: column-reverse;
        width: 95vw;
    }

    .text {
        width: 70vw;
    }

    .image {
        width: 70vw;
        justify-content: end;
        padding-bottom: 30px;
    }

    .about-img {
        width: 200px;
    }

    .footer {
        flex-direction: column-reverse;
        padding: 10px;
    }

    .footer-links,
    .footer-table {
        width: 90vw;
        padding: 20px;
        align-items: start;
    }

    .dn {
        display: none;
    }
}

@media(max-width:500px) {
    .contact-content {
        gap: 0;
    }

    .icon {
        width: 60px;
        padding: 5px;
    }
    #previewImage{
        width: 100%;
    }
    .content{
        width: 95vw;
    }
    .content-para{
        font-size: 0.8rem;
    }
}

@media(max-width:650px) {
    .opening-headline {
        font-size: 1.5rem;
    }

    .opening-text {
        font-size: 1rem;
    }
}